h1 {
    color: white;
    text-align: center;
    font-family:Georgia, 'Times New Roman', Times, serif;
    font-size: 40px;
    padding-left: 20px;
    text-shadow: 0 2px 3px rgba(146, 5, 5, 0.89)
}
d{
    text-align: center;
}

body {
    color: white;
    font-family: 'Poppins', sans-serif;
    background-image: url("./imgg.vihh/41b863a3d41d1169603ac8850eb25a90.jpg");
    width: 100%;
    height: 100%;
    margin: auto;
    background-color: black;
    margin: 0;
    transition: background 0.2s linear;
}


body.dark {
    background: white;
    color: white;
    
}
body.dark ul li a {
    color: white;
}

body.dark  a {
    color: #c5d4ff;
}

body.dark .texto-principal {
    background-color: rgba(146, 5, 5, 0.89);
    padding-top: 20px;
    padding-bottom: 20px;
    text-align: center;
    text-transform: uppercase;
    color: black;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
    border-bottom: 5px solid white;
    font-size: 25px;
    
} 
body.dark .final {
    background-color: rgba(146, 5, 5, 0.89);
    border-top: 5px solid white;
    color: black;

}

body.dark .label {
    background-color: #fafafa;
}

.botao {
    padding-left: 48%;
}
.checkbox {
    opacity: 50;
    position: absolute;
}
.label {
    background-color: black;
    border-radius: 60px;
    display:flex;
    padding: 4px;
    position: relative;
    height: 20px;
    width: 45px;
    transform: scale(1.5);
  
  }
  
  
.label .ball {
    background-color: rgba(146, 5, 5, 0.89);
    border-radius: 50%;
    position: absolute;
    top: 4px;
    left: 3px;
    height: 20px;
    width: 20px;
    transform: translateX(0px);
    transition: transform 0.2s linear;
  }
  
.checkbox:checked + .label .ball {
    transform: translateX(24px);
  }
  
.container {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
    background-color: rgba(19, 18, 18, 0.897);
    border-radius: 10px;
    box-shadow: 0px 0px 30px rgb(22, 22, 22);
}
.btn-container {
    position: fixed;
    padding-left: 95%;
    padding-top: 100px;
    display: grid;
}

h2 {
    color: white;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 40px;
    padding-left: 20px;
    text-align: center;
    margin-top: 0;
    text-shadow: 0 2px 3px rgba(146, 5, 5, 0.89)
}

img {
    display: block;
    margin: 0 auto;
    max-width: 100%;
    height: auto;
    border-radius: 10px;
    box-shadow: 0px 0px 10px black ;
    object-fit: cover;
}

p {
    color: white;
    font-size:0.9;
    line-height: 1.5;
    margin-bottom: 20px;
}


.principal ul li {
    list-style:square;
    font-size: 25px;
}

.principal ul li a {
    color: white;
}
.SobreBlackSabbath{
    padding-left: 40px;
}
.ComoTudoComeçou{
    padding-left: 40px;
}
.OInícioDoBlackSabbath{
    padding-left: 40px;
}
.AMudançaDeNome{
    padding-left: 40px;
}
.Legadodo Black Sabbath{
    padding-left: 40px;
}
.Discografia{
    padding-left: 40px;
}

a:link{
    color: white;
}

a:visited {
    color: rgb(22, 62, 138);
}
a:hover {
    text-transform: uppercase;
    font-weight: bold;
    color: white;
    background-color: black;
}

footer {
    padding-left: 40px;
    background-color: rgba(146, 5, 5, 0.89);
    border-top: 5px solid black;

}

footer p {
    display: inline-block;
    color: black;
    font-weight: bold;
    text-transform: uppercase;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    
}

footer a {
    padding-left: 50%;
    color: white;
    font-weight: bold;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 15px;

}
@media screen and (max-width: 768px) {
    
    header {
        font-size: 20px;
    }
    main {
        font-size: 16px;
    }
    footer {
        font-size: 14px;
    }
}


